.galery-body {
	display: grid;
	grid-template-columns: auto auto;
	gap: 50px;
	border-radius: 10px;
	text-align: center;
	margin: 20px;
	border: 1px solid black;
}
.galery-body img{
	width: 400px;
	height: 200px;
}
/* Estilos para a sobreposição */
.modal-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7); /* Cor preta com transparência */
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1000;
      }
      
      /* Estilos para o conteúdo do modal */
      .modal-content {
	position: relative; /* Necessário para o botão ser posicionado em relação a ele */
	background-color: white;
	padding: 20px;
	padding-top: 40px;
	border-radius: 8px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	max-width: 80%;
	max-height: 80%;
	overflow: auto;
      }
      
      /* Estilos para o botão de fechar */
      #close-modal-button {
	position: absolute; /* Posicionamento absoluto dentro do modal-content */
	top: 10px; /* Distância de 10px do topo */
	right: 10px; /* Distância de 10px da direita */
	background: transparent;
	border: none;
	font-size: 20px;
	font-weight: bold;
	color: #333;
	cursor: pointer;
	padding: 5px 10px;
	border-radius: 50%;
	transition: background-color 0.3s;
      }
      
      #close-modal-button:hover {
	background-color: #f1f1f1; /* Mudança de cor ao passar o mouse */
      }
#back-button {
	background: none;
            border: none;
            padding: 10px;
            cursor: pointer;
            font-size: 24px;

}
#next-button{
	background: none;
            border: none;
            padding: 10px;
            cursor: pointer;
            font-size: 24px;
}