.menu {
  background-color: #f4f4f4;
  padding: 10px;
}

.menu ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 130px;
}

.menu li {
  display: inline;
}

.menu a {
  text-decoration: none;
  color: #007bff;
}

.menu a:hover {
  text-decoration: underline;
}

.content {
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
